@charset "utf-8";
@font-face {
  font-family: 'iconfont';  /* project id 373142 */
  src: url('//at.alicdn.com/t/font_i1reb9y3du3ow29.eot');
  src: url('//at.alicdn.com/t/font_i1reb9y3du3ow29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_i1reb9y3du3ow29.woff') format('woff'),
  url('//at.alicdn.com/t/font_i1reb9y3du3ow29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_i1reb9y3du3ow29.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:12px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    }



.margin{
    width:1090px;
    margin: 0 auto;    
}
header{
    width:100%;
    height:39px;
    background-color: #efeef0;
    border-bottom: 1px solid #d7d6d7;
    #header-l {
        float: left;
       padding-top:5px;
        li{
        float:left;
        width:96px;
        height:33px;
        background-color: #efeef0;
        border-right:1px solid #e7e7e7;
        font:700 12px/33px "";
        text-align: center;
        line-height: 33px;      
        }
        li.ll{
            height: 36px;
            background-color: #fff;
           border:1px solid #cccccc;
           border-bottom: none;
           a{
               color:#ff5c00;
           }
        }
        li:nth-child(2):hover a{
            color:#ff5c00;
        }
        li.te1{
           width:106px;
           position: relative;
           #box{
             
             width:86px;
             margin:0 auto;
             background:url(../img/sprite215new.png) no-repeat;
            background-position: -316px -232px;
            position: relative;
            z-index: 2;
               
            a:hover{
                   color:#ff5c00;
                
            } 
           }
            #phone{              
                    display: none;
                    margin-top:1px;
                    position:absolute;
                    top: 35px;
                    
            }
                    
           &:hover #box{
               height:36px;              
               background-position-y:-260px; 
               border:1px solid  #ff5c00;
               border-bottom:none;
               background-color: #FFFFFF;
                position: relative;
                z-index: 2; 
               
            }
            
           
        }
        li.te1:hover #phone{
                display: block;
                border: 1px solid #FF5C00;
                top:35px;
                left:9px;
                z-index: 1;
           }
    }
    #header-r{
        float: right;
        padding-top:6px;
        >ul{
            padding:0 10px;
            >li{
                float: left;
                font:12px/32px "";           
                color:#666666;
               position: relative;
               right:2px;
               
            a{
                color:#666666;
                padding:12px;
            }
            &:hover a{
                color:#FF5C00
            }
            }
            li.te a{
                    color:#FF5C00;
                    padding:5px;
            }
            li.home{
                width:76px;
                border:1px solid #e9e9e9;
                position: relative;
            }
            li.home img{
                position: absolute;
                width:8px;
                height:4px;
                display: block;
                left:50px;
                top:14px;
                padding-left:10px;
            }
            li.home img.t2{
                display: none;
                
            }
            li.home ul{
                font:12px/22px "";
                display: none;
                position: absolute;
                left:-1px;
                top:28px;              
                li a{
                    color:#666666;
                    padding:0 5px;
                }             
            } 
            li.home:hover{              
                border:1px solid #FF5C00;
                background-color: #fff;
                border-bottom: none; 
                height: 38px; 
                width:76px;
                z-index: 2;            
            }
            li.home:hover ul{
                display: block;
                border:1px solid #FF5C00;
                border-top:none;
                text-align: center;
                background-color: #fff;    
                width: 76px;  
                li a:hover{
                    color: #FF5C00;   
                }
            }
            li.home:hover img.t2{
               display:inline-block;
            } 
        }  
    }   
}
#xian{
    height: 1px;
    background: #cecece;
}
#log{
    
    width: 100%;
    height: 116px;
    margin-top:1px;
    border-bottom: 1px solid #CCCCCC;
     #log-l img{
        float: left;
        width: 150px;
        height:55px;
        display: block;
        margin-top:32px;
    }

}
#main{
    background: #CECECE;
    height:640px;
    
}
 
//底部的样式
#footer{
    border-top:1px solid #d9d9d9;
    width: 100%;
    background: #fff; 
    #footer_third{
        height: 174px;
        p{
            text-align: center;
            font: 12px/1em "宋体";
            color:#999999;
            padding-top: 16px;
            
        }
        p:first-child{
            margin:  0 auto;
            width: 350px;
            a{
                padding:  0 7px;
                border-right: 1px solid #999999;
                color: #000;
                &:hover{
                color:#FF5C00;
                 }
            }
            a:last-child{
                border: none;
            }
        }
        p:nth-child(4){
            padding-top: 15px;
            
            a img{
                display: inline-block;
            }
            
            
        }
        p:last-child{
             padding-top: 0;
             a{
                 color: #999999;
             }
             img{
                display: inline-block;
                position: relative;
                top: -1px;
             }
        }   
    }   
}









